/* Add your styles here */

header {
    padding: 10px;
    color: white;
    background-color: #212121;
}

footer{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #212121;    
}

nav {
    padding: 10px;
    color: white;
    background-color: #373536;

}
a{
    color: white;
    border: 5px;
    border: whitesmoke;
    padding-right: 10px;
}

ul li{
    color: white;
    display: inline;
}
#lgIn{
    float: right;
    color: white;
}

#div2{
    background-color: whitesmoke;
}

section{
    display: inline-table;
}

#secOne{
    height: 100%;
    width: 30%;
}

#secTwo{
    height: 100%;
    width: 67%;
    margin: 10px;
    
}

#map{
    height: 500px;
    width: 100%;
}

#dropD1{
    width: 300px;
    margin: 10px;
    padding: 10px;
 }

#btn1{
    width: 150px;
    margin: 10px;
    padding: 10px;
    transform-style: preserve-3d;
    border-style: groove;
}

#srch1{
    margin: 10px;
    width: 50%;
}

#div3{
    margin: 10px;
    border: 10px;
    border-bottom: 10px;
    border-bottom-color: black;
}

#img1{
    float: right;
}
